.banner {
    height: 360px;
    background: url('../images/banner1.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;

    h1 {
        color: $primary;
        font-size: 1.5rem;
        font-weight: 900;

        @include media-breakpoint-up(md) {
            font-size: 2.5rem;
        }
    }

    @include media-breakpoint-up(xl) {
        height: 700px;
    }
}

.annoys {
    @include indexSectionsCommondSetting(#F4F4F3);

    .card {
        padding: 2rem 0;
        border: 0;
        background: #F9F9F9;

        @include media-breakpoint-up(lg) {
            padding: 2.5rem 0;
            gap: 32px;
        }
    }

    .card-body {
        padding: 0;
    }

    .card-icon {
        width: 160px;
        height: 160px;
    }
}

.bestChoice {
    @include indexSectionsCommondSetting();

    .card {
        padding: 0;
        border: 0;

        @include media-breakpoint-up(md) {
            width: 100%;
            flex-direction: row;
        }
    }

    .card-body {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .card-title {
            @extend .gradient-text;

            @include media-breakpoint-up(xl) {
                font-size: 2.5rem;
            }
        }
    }

    img {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    @include media-breakpoint-up(md) {
        .innerWrap div:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
}

.pricePlan {
    @include indexSectionsCommondSetting(#F6F5F5);
    gap: 32px;

    .card {
        padding: 2rem 0;
        border: 0;

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .card-title,
        .card-subtitle {
            @extend .gradient-text;
            font-size: 1.5rem;
            line-height: 2;
            margin-bottom: 0.5rem;

            @include media-breakpoint-up(xl) {
                font-size: 2.5rem;
            }
        }

        @include media-breakpoint-up(lg){
            padding: 3.25rem 0;
            width: 30%;
        }
    }

    ul {
        color: #102A48;
        text-align: left;
        margin-bottom: 1.75rem;
    }

    @include media-breakpoint-up(md) {
        .innerWrap div:nth-last-child() {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.demo {
    @include indexSectionsCommondSetting(#F0EAE8);
    gap: 20px;

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 1.25rem;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        text-align: center;
        line-height: 20px;
        font-size: 8px;
        color: #000;
        opacity: 1;
        background: #CCCCCC;
    }

    .swiper-pagination-bullet-active {
        background: #F20000;
    }

    .btn-gradient {
        display: flex;
        align-items: center;
        color: $white;
        font-weight: 500;

        img {
            max-width: 2rem;
            margin-right: 0.5rem;

            @include media-breakpoint-up(xl){
                max-width: 2.5rem;
                margin-right: 0.75rem;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        gap: 40px;
        .swiper-slide img {
            height: 500px;
        }
    }
}

.extraServices {
    @include indexSectionsCommondSetting(#FAFAF9);

    .card {
        background-color: #FAFAF9;
        border: 0;
        box-shadow: none;
    }

    .card-icon {
        width: 200px;
        height: 200px;
    }
}