.reservation {
    padding: 48px 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .sectionTitle {
            width: 100%;
        }
    }
}

.reservation-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border: 1px solid black;
    border-radius: 32px;
    gap: 20px;

    @include media-breakpoint-up(lg) {
        max-width: 60%;
    }
}

.calendar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendarMonthPickers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .calendarMonth-Current {
        font-size: 1.25rem;
        margin: 0;

        @include media-breakpoint-up(md) {
            font-size: 1.5rem;
        }
    }
}

.dayInners {
    text-align: center;
    line-height: 3rem;
    border: 1px solid $white;
    font-size: 0.875rem;
    padding: 0;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
}

.dateInners {
    border: 1px solid $white;
    line-height: 3rem;
    text-align: center;
    color: #424242;
    background-color: #f2f2f2;
    padding: 0;
    font-size: 1rem;

    &:hover {
        cursor: pointer;
    }

    &-selected {
        border-color: $green;
    }
}

.notAvailable {
    color: gray;
    background-color: transparent;

    span {
        display: none;
    }

    &:hover {
        cursor: default;
    }
}

.dateFull {
    background-color: #f2dede;
    color: #a94442;

    &:hover {
        cursor: default;
    }
}

.pickerColorGuide {
    display: flex;
    justify-content: center;
    gap: 20px;

    p {
        margin: 0;
        font-size: 0.875rem;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .colorBox {
        width: 18px;
        height: 18px;
        border: 2px solid;
        border-radius: 3px;

        &-red {
            background-color: #f2dede;
            border-color: #f2dede;
        }

        &-gray {
            background-color: #f2f2f2;
            border-color: #f2f2f2;
        }

        &-green {
            border-color: $green;
        }
    }
}

//預約數量
.bookingsAvailable {
    z-index: -1;
    text-align: end;
    display: none;

    @include media-breakpoint-up(md) {
        display: block;
    }
}

.newBooking-form {
    @include media-breakpoint-up(lg) {
        max-width: 35%;
    }
}

.newBooking-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btn-primary {
        color: $white;
    }

    .form-group {
        * {
            padding: 0;
        }

        label {
            display: block;
        }

        .row {
            align-items: center;
        }

        .form-select {
            padding: 0 0.75rem;
        }

        .form-control {
            padding: 0 0.75rem;
        }
    }
}

.newBooking-input input,
.newBooking-input textarea,
.newBooking-input select {
    color: $dark-100;
    font-size: 1rem;
    max-width: 75%;
    resize: none;
}

.newBooking-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}