.offcanvas-body-nav {
    .btn-user {
        background-image: linear-gradient(90deg, #F20000, #FF7426);
        font-size: 1.25rem;
        font-weight: 700;
        padding: 6px 32px;
        color: $white;
        border: none;
        border-radius: 34px;
        display: none;
        width: fit-content;

        &:hover {
            background-image: none;
            background-color: $white;
            color: $primary;
        }

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    @include media-breakpoint-up(lg) {
        gap: 40px;

        .nav-link {
            color: $white;
            font-size: 1.25rem;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }

        .nav-item {
            .active {
                color: $primary;
            }
        }
        .loginSingoutControl {
            .nav-link {
                display: none;
            }
        }
    }
}