.innerWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gradient-text {
    background-image: linear-gradient(90deg, #F20000, #FF7426);
    background-clip: text;
    color: transparent;
}

.btn-gradient {
    @extend .bg-gradient;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 8px 20px;
    color: $white;
    border: none;
    display: inline-block;
    width: fit-content;

    @include media-breakpoint-up(xl){
        font-size: 2rem;
        padding: 16px 60px;
    }
}

.card-icon {
    border-radius: 50%;
    object-fit: cover;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: $dark-200;
    margin-bottom: 0;

    @include media-breakpoint-up(xl){
        font-size: 2.5rem;
    }
}