<footer class="footer">
    <div class="innerWrap">
        <a class="buttomLogo flex-md-grow-1" href="index.html">
            <span class="text-primary fw-bolder">機妍</span>
            <span class="fw-semibold">機車美容</span>
        </a>

        <ul class="footerSocial">
            <li><a href="#"><img src="https://img.icons8.com/fluency-systems-regular/50/FFFFFF/facebook-new.png"
                        alt="facebook"></a></li>
            <li><a href="#"><img src="https://img.icons8.com/fluency-systems-regular/50/FFFFFF/instagram.png"
                        alt="instagram"></a></li>
            <li><a href="#"><img src="https://img.icons8.com/fluency-systems-regular/50/FFFFFF/line-me.png"
                        alt=" line"></a>
            </li>
        </ul>

        <ul class="footerContact">
            <li>
                <div>
                    <span class="material-symbols-outlined">smartphone</span>
                    <p class="d-inline">電話</p>
                </div>

                <a href="tel:+886422220000">(04)-22220000</a>
            </li>
            <li>
                <div>
                    <span class="material-symbols-outlined">mail</span>
                    <p class="d-inline">信箱</p>
                </div>
                <a href="mailto:service@blingblingbike.com">service@blingblingbike.com</a>
            </li>
            <li>
                <div>
                    <span class="material-symbols-outlined">location_on</span>
                    <p class="d-inline">地址</p>
                </div>
                <p>400台中市中區台灣大道一段1號</p>
            </li>
        </ul>
    </div>

    <p class="copyright">© 2022 BlingBlingBike. All rights reserved.</p>
</footer>