<nav class="navbar navbar-expand-lg bg-dark-300 px-4 py-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <h1 class="h2 text-primary fw-bolder mr-1 d-inline">機妍</h1>
            <span class="h2 text-white fw-semibold">機車美容</span>
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="material-symbols-outlined text-white h2">menu</span>
        </button>
        <div class="offcanvas offcanvas-end p-3 bottom-initial" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header mb-2">
                <h2 class="offcanvas-title text-primary fw-bolder" id="offcanvasNavbarLabel">機妍</h2>
                <span class="material-symbols-outlined h2" data-bs-dismiss="offcanvas" aria-label="Close">close</span>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 offcanvas-body-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reservation.html">馬上預約</a>
                    </li>
                    <li class="nav-item d-none" id="myInfo">
                        <a class="nav-link" href="userInfo.html">個人資料</a>
                    </li>
                    <li class="nav-item d-none" id="myHistory">
                        <a class="nav-link" href="userHistory.html">我的預約</a>
                    </li>
                    <li class="nav-item loginSingoutControl d-none" id="loginControl">
                        <a class="nav-link" href="login.html">登入</a>
                        <a class="btn btn-user" href="login.html">登入</a>
                    </li>
                    <li class="nav-item loginSingoutControl d-none" id="singoutControl">
                        <a class="nav-link" href="#">登出</a>
                        <a class="btn btn-user" href="#">登出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>